<h2>Login Nuevo</h2>

<form action="" id="loginForm">
  <label for="">Usuario</label>
  <input type="email" name="email" required>

  <label for="">Password</label>
  <input type="password" name="password" required>

  <button type="submit">Iniciar Sesión</button>

</form>

<a href="/signup"><button>Crear Cuenta</button></a>

<a href="/auth/github"><button>Ingresar con Github</button></a>
<a href="/products"><button>Ir a página principal</button></a>

<script src="/js/login.js"></script>