
<h2>Registro</h2>

<form action="" id="signupForm">
    <label for="">Nombre: </label><br>
    <input type="text" name="first_name" ><br>
    
    <label for="">Apellido: </label><br>
    <input type="text" name="last_name" ><br>

    <label for="">Edad: </label><br>
    <input type="number" name="age" min="18" max="100" required><br>
    
    <label for="">Correo: </label><br>
    <input type="email" name="email" ><br>
    
    <label for="">Password: </label><br>
    <input type="password" name="password" required><br>

    <button type="submit">Crear Usuario</button>

</form>

 <a href="/login"><button>Ingresar a tu cuenta</button></a>

<script src="/js/signup.js"></script>