<h3>Finalizaste tu compra {{first_name}}</h4>


<h4>Ticket de tu compra:</h4>
<p id="ticket">{{saleData}}</p>
<p id="ticketRender"></p>

<p>Se envió un correo con el detalle de tu compra</p>

<p>Los productos que no se pudieron comprar por falta de stock se ingresaron en un nuevo carrito</p>

<a href="/carts/{{cart}}"><button>Ver tu nuevo carrito</button></a>
<a href="/products"><button>Volver a productos</button></a>

<script src="/js/ticket.js"></script>

