<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3ra Pre-Entrega PF</title>
</head>
<body>
    <h1>3ra Pre-Entrega PF</h1>
    <a href="/products"><h2>Ecommerce</h2></a>
    {{{body}}}
</body>
</html>